/*
    All class names prefixed with 'troogl' to
    avoid conflicts with target website CSS
*/

/* General styling */

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #5555FF;
}
  
::selection {
    color: rgb(255, 255, 255);
    background: #5555FF;
}

/* Sentence Styling */

.troogl-sentence {
    border-radius: 5px;
}

.troogl-negative {
    background-color: rgb(255, 196, 196);
}

.troogl-neutral {
    background-color: rgb(243, 243, 243);
}

.troogl-positive {
    background-color: rgb(182, 255, 200);
}