/*
    All class names prefixed with 'troogl' to
    avoid conflicts with target website CSS
*/

/* General styling */

::-moz-selection {
    color: rgb(255, 255, 255);
    background: #5555FF;
}
  
::selection {
    color: rgb(255, 255, 255);
    background: #5555FF;
}

html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 13.5vh !important;
}

/* Sentence Styling */

.troogl-sentence {
    border-radius: 5px;
    cursor: pointer;
    color: #333;
}

.troogl-sentence:hover {
    filter: brightness(95%);
}

.troogl-negative {
    background-color: rgb(255, 196, 196);
}

.troogl-neutral {
    background-color: rgb(243, 243, 243);
}

.troogl-positive {
    background-color: rgb(182, 255, 200);
}

/*** Loader / overlay ***/

.troogl-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2147483647;
    background-color: black;
    opacity: 0.7;
    position: fixed;
}

.troogl-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36.66667px;
    margin-left: -36.66667px;
    width: 73.33333px;
    height: 20px;
}

.troogl-loader:after {
    content: '';
    position: absolute;
    left: 26.66667px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -26.66667px 0 0 0 white, 26.66667px 0 0 0 white;
    animation: alter 1s ease-in-out infinite;
}

@keyframes alter {
    0%,
    100% {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: -26.66667px 0 0 0 white, 26.66667px 0 0 0 white;
    }

    50% {
        background-color: white;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
}

/* Hover tooltip */

.troogl-tooltip {
    position: relative;
    display: inline-block;
    color: #d1d1d1;
    font-size: 18px;
    margin-left: 5px;
    cursor: default;
}

.troogl-tooltip:hover {
    color: #a7a7a7;
}

.troogl-tooltip .troogl-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.troogl-tooltip .troogl-tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.troogl-tooltip:hover .troogl-tooltip-text {
    visibility: visible;
}

/* Close button */
.troogl-exit-button {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.troogl-exit-button:before, .troogl-exit-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    top: 6.5px;
    width: 2px;
    background-color: #333;
}

.troogl-exit-button:before {
    transform: rotate(45deg);
}

.troogl-exit-button:after {
    transform: rotate(-45deg);
}

.troogl-exit-button:hover {
    background-color: #f1f1f1;
}
    