beautifulsoup4==4.10.0
breadability==0.1.20
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cssselect==1.1.0
docopt==0.6.2
Flask==2.0.2
Flask-Cors==3.0.10
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.7.1
markdown2==2.4.2
MarkupSafe==2.0.1
nltk==3.6.7
pycountry==22.1.10
pyphen==0.12.0
pyquery==1.4.3
rake-nltk==1.0.6
readtime==1.1.1
regex==2022.1.18
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
sumy==0.9.0
textblob==0.17.1
textstat==0.7.2
tqdm==4.62.3
urllib3==1.26.8
Werkzeug==2.0.2
